In [ ]:
import numpy as np
import pandas as pd
import random

In [ ]:
def generate_data(teaching,foreign_language,study_of_history,arts_skills,journalism,economic_stat,
                  philosophy_psychology,Athletic_training,accounting_BIS,political_scienes,law_canon,target):
  data = []
  cols_name =['teaching','foreign language','study of history','arts skills','journalism','economic&stat',
                  'philosophy&psychology','Athletic&training','accounting&BIS','political&scienes','law&canon','target']


  for i in range(200):
    l = [random.uniform(teaching[0],teaching[1]),
         random.uniform(foreign_language[0],foreign_language[1]),
         random.uniform(study_of_history[0],study_of_history[1]),
         random.uniform(arts_skills[0],arts_skills[1]),
         random.uniform(journalism[0],journalism[1]),
         random.uniform(economic_stat[0],economic_stat[1]),
         random.uniform(philosophy_psychology[0],philosophy_psychology[1]),
         random.uniform(Athletic_training[0],Athletic_training[1]),
         random.uniform(accounting_BIS[0],accounting_BIS[1]),
         random.uniform(political_scienes[0],political_scienes[1]),
         random.uniform(law_canon[0],law_canon[1]),
         target
         ]
    data.append(l)

  df = pd.DataFrame(data, columns = cols_name) 
  return df

In [ ]:
cols_name =['teaching','foreign language','study of history','arts skills','journalism','economic&stat',
                  'philosophy&psychology','Athletic&training','accounting&BIS','political&scienes','law&canon','target']
dataset = pd.DataFrame(columns = cols_name)

In [ ]:
#set ranges for each feature depend on college 
teaching = (6,10)
foreign_language = (7,10)
study_of_history = (1,3)
arts_skills = (0,2)
journalism = (0,2)
economic_stat = (1,3)
philosophy_psychology = (1,3)
Athletic_training = (0,2)
accounting_BIS = (0,3)
political_scienes = (0,2)
law_canon = (0,2)
target = 'السن'

In [ ]:
df = generate_data(teaching,
foreign_language,
study_of_history,
arts_skills,
journalism,
economic_stat,
philosophy_psychology,
Athletic_training,
accounting_BIS,
political_scienes,
law_canon,
target)

In [ ]:
dataset = pd.concat([dataset, df],ignore_index=True)

In [ ]:
dataset.tail()

     teaching  foreign language  ...  law&canon  target
795  6.923096          9.737841  ...   1.595595    السن
796  9.620947          9.866251  ...   0.641994    السن
797  7.738728          7.085799  ...   0.294500    السن
798  9.871242          8.538208  ...   0.472593    السن
799  7.799128          7.990444  ...   1.336453    السن

[5 rows x 12 columns]

In [ ]:
dataset['target'].unique()

array(['سياسة و اقتصاد', 'اداب', 'تربية', 'السن'], dtype=object)

In [ ]:
#dataset.to_excel('floatRanges.xlsx', encoding='utf8')